.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1038px;
    height: 89px;
    margin: 0 auto;
    padding: 20px 10px;
}

.header__nav {
    display: flex;
}

.header__nav-link {
    color: #2D2C2C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 8px 20px;
}

.header__nav-link:hover {
    color: rgb(255, 255, 255);
    background: #2D2C2C;
}

.burger {
    display: none;
}

.burger__btn {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.burger__btn span {
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
}

@media(max-width: 767px) {
    .header__nav-link {
        font-size: 13px;
        padding: 8px 13px;
    }
}

@media(max-width: 424px) {
    .header__nav {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 89px;
        right: 0;
        gap: 15px;
        text-align: end;
        height: 161px;
        overflow: hidden;
    }

    /*     .burger {
        display: block;
    } */
}